{% extends 'base.html' %}

<!-- Crispy forms -->
{% load crispy_forms_tags %}

<!-- Page content-->
{% block content %}
<div class="container">
  <h5 class="text-center">
    <strong> <i class="fas fa-plus"></i>&nbsp;&nbsp; ADD CANDIDATE </strong>
  </h5>
  <hr />
  <form method="POST" autocomplete="off">
    {% csrf_token %}
    <!-- fields -->
    {{ form.name|as_crispy_field}} {{ form.phone|as_crispy_field}} {{ form.email|as_crispy_field}}
    {{ form.gender|as_crispy_field}} {{ form.career|as_crispy_field}}
    <!-- buttons -->
    <div class="mt-5">
      <hr />
      <button class="btn btn-warning btn-width">Submit</button>
      <button class="btn btn-secondary ms-2 btn-width">Reset</button>
    </div>
  </form>
</div>
{% endblock content %}
